 p.dotted {
    border-style: dotted;
    background: #000000;
    opacity: 0.6;
    border-collapse: collapse;
    color: red;
    text-align: center;
    font-size: 200%;
}
 h1 {
    color: red;
    text-align: center;
}
 h2, h3, h4, h5, h6 {
    color: #ffff00;
    text-align: center;
}
  a {
    color: red;
}
 body {
    background-image: url("http://wallpapercave.com/wp/SfRrJR4.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
